{% extends "core/base.html" %}

{% block content %}
<div class="container mb-4">
  <nav class="nav nav-pills justify-content-center my-4">
    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" 
       href="{% url 'project_planner:home' %}">Planner Home</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'background_research_edit' %}active{% endif %}" 
       href="{% url 'project_planner:background_research_edit' %}">Research</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'research_questions_edit' %}active{% endif %}" 
       href="{% url 'project_planner:research_questions_edit' %}">Research Question</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'hypothesis_edit' %}active{% endif %}" 
       href="{% url 'project_planner:hypothesis_edit' %}">Hypothesis</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'experimental_design_edit' %}active{% endif %}" 
       href="{% url 'project_planner:experimental_design_edit' %}">Experiment</a>
  </nav>

  {% block planner_content %}{% endblock %}
</div>
{% endblock %}